
.my-button {
    background-color: white;
    color: #004862;    
    cursor: pointer;
    border: 2px solid #004862;    
  }
  
  .my-button:hover {
    background-color: #2AA252;
    color: white;
  }
  
  .my-button:active {
    background-color: #5ebc7e;
  }