@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MS%20Mincho&display=swap");

html {
  font-family: "MS Mincho", sans-serif;
  font-size: 24px;
  color: #11596f;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="date"],
button,
textarea {
  font-size: 24px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-width: 2px;
}

input.section-input,
textarea,
select {
  padding: 10px;
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  height: 3rem;
}

input.section-input,
select {
  height: 2rem;
}

fieldset.MuiOutlinedInput-notchedOutline,
select {
  border-width: 2px;
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.87);
  border-image: initial;
}

button {
  margin-top: 1rem;
}

button:hover {
  background-color: rgb(249, 223, 245);
}

button:active {
  background-color: #fabbf0;
}

li {
  list-style-type: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Customer */
.section-item {
  margin-bottom: 10px;
}

.section-range {
  display: flex;
  justify-content: space-between;
}

.handle-button {
  display: flex;
  justify-content: space-around;
}

/* Search */
ul.search-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(47, 47, 47, 0.4);
  box-sizing: border-box;
}
li.search-result {
  display: flex;
  justify-content: space-between;
}

.MuiTableCell-head {
  color: "white";
  background-color: gray;
}

.required-icon {
  color: rgb(255, 0, 0);
  margin-left: 0.25rem;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}
